

  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
      <li class="active">Icons</li>
    </ol>
  </div><!--/.row-->
    
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Listing Teams for <%= @current_mine.name %></h1>
    </div>
  </div><!--/.row-->

   <div class="row">
      <a href="#">
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-body" style="padding: 50px;">
              <center><h3>Team Zaldy</h3></center>
                <center><small>2 members</small></center>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-body" style="padding: 50px;">
              <center><h3>Team Zaldy</h3></center>
                <center><small>2 members</small></center>
            </div>
          </div>
        </div>
      </a>
    </div><!-- /.row -->



<br>