<%= form_for(@tunnel) do |f| %>
  <% if @tunnel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tunnel.errors.count, "error") %> prohibited this tunnel from being saved:</h2>

      <ul>
      <% @tunnel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
