<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personnel_category.name %>
</p>

<%= link_to 'Edit', edit_personnel_category_path(@personnel_category) %> |
<%= link_to 'Back', personnel_categories_path %>
