

    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">Icons</li>
      </ol>
    </div><!--/.row-->
    
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Listing Mines</h1>
      </div>
    </div ><!--/.row-->
    <div class="row">
      <% @mines.each do |mine| %>
        <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-body">
               <a href="#" onclick='manageMine("<%= mine.id %>")'>
                <div class="thumbnail">
                <%= image_tag("placeholder_large") %>
                </div>
                <h4><%= mine.name %></h4>
                <p><%= mine.description %></p>
              </div>
              </a>
            </div>
        </div>
      <% end %>
    </div>

    <script type="text/javascript">
      function manageMine(mineId) {              
          var url = "mine/session";
          $.ajax({
            type: "POST",
            url: url,
            data: { 'mine_id': mineId } ,
            success:  function(g) {
              window.location.href = "/dashboard";
            }
          });
      }
    </script>
<br>