

    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">Icons</li>
      </ol>
    </div><!--/.row-->
    
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Listing Mines</h1>
      </div>
    </div><!--/.row-->
    

  <div class="row">
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-body">
            <a href="#" class="thumbnail">
              <%= image_tag("placeholder_large") %>
            </a>
            <h4>Brgy Chua</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-body">
            <a href="#" class="thumbnail">
              <%= image_tag("placeholder_large") %>
            </a>
            <h4>Tampakan</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
          </div>
        </div>
      </div>

        <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-body">
            <a href="#" class="thumbnail">
              <%= image_tag("placeholder_large") %>
            </a>
            <h4>Tampakan</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
          </div>
        </div>
      </div>
      
    </div><!-- /.row -->

<br>