
    <div class="row">
    
    <div class="col-md-12">
      <div class="panel panel-default" style="margin-top: 20px;">
          <div class="panel-heading"><svg class="glyph stroked email"><use xlink:href="#stroked-email"></use></svg> List of Items</div>
            <div class="panel-body">
            <% if @items.empty? %>
              <center  style="padding:20px;"><h4>Empty Item List</h4>
              <small>Add new from new item form</small>
              </center>
            <% else %>
               <table class="table-bordered table-condensed table-hover" style="width: 100%">
                  <thead>
                    <tr>
                      <th>Item Code</th> 
                      <th>Item Name</th> 
                      <th>Created</th>
                      <th>Updated</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @items.each do |item| %>
                      <tr>
                        <td><p><%= item.item_code %></p></td>
                        <td><p><%= item.name %></p></td>
                        <td><p><%= item.created_at %></p></td>
                        <td><p><%= item.updated_at %></p></td>
                        <td><%= link_to 'Edit', edit_item_path(item) %> <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
              <%= will_paginate @attendances %>
            <% end %>
            </div>
          </div>
    </div>
    
    <div class="col-md-6">
      <%= render partial: 'form', locals: {item: Item.new} %>
    </div>
    
    <div class="col-md-6">
      <div class="panel panel-default" style="margin-top: 20px;">
        <div class="panel-heading"><svg class="glyph stroked email"><use xlink:href="#stroked-email"></use></svg> Activities</div>
          <div class="panel-body">
            
          </div>
      </div>
    </div>
    
  </div>

  <style type="text/css">
  </style>

  <script type="text/javascript">
      $('select').select2({
        createSearchChoice:function(term, data) { 
          if ($(data).filter(function() { 
              return this.text.localeCompare(term)===0; 
          }).length===0) 
          {return {id:term, text:term};} 
        },
        multiple: false
      });
  </script>
